body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #aaa;
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    text-align: left;
  }
  
  input[type="text"],
  input[type="password"] {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #aaa;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  button[type="submit"] {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }